<div class="profile-wrap">

<div class="profImg">
    <div class="profImgContainer">
        <img class="user-avatar" src="../images/profileImg.png">

        {{#with user}}
        <div class="personalData">
            <ul>
                <li>
                    <p>Ime korisnika: <span class="important-data">{{name}}</span></p>
                </li>
                <li>
                    <p>Prezime korisnika: <span class="important-data">{{lastName}}</span></p>
                </li>
                <li>
                    <p>Korisnicki broj: <span class="important-data">{{userID}}</span></p>
                </li>
                <li>
                    <p>Datum isteka clanarine: <span class="important-data">{{membership.expireDate}}</span></p>
                </li>
            </ul>
        </div>
    </div>
</div>

<br>
<br>

<h4 class="headline-default">Zaduzenja</h4>


<div class="booksTaken">
    <table>
        <tr>
            <th>Naziv knjige</th>
            <th>Autor</th>
            <th>Datum zaduzenja</th>
            <th>Rok vracanja</th>
        </tr>
{{#each zaduzenja}}
    {{#each this}}
        <tr>
            <td>{{bookName}}</td>
            <td>{{bookAuthor}}</td>
            <td>{{bookTaken}}</td>
            <td>{{bookReturn}}</td>
        </tr>
    {{/each}}
{{/each}}
    </table>
</div>


<form name="findHistory" method="post" action="findBooksHistory">
    <button id="button1" class="button-default" name="UID" value="{{userID}}" type="submit">Istorija zaduzenja!</button>
</form>

{{/with}}
</div>
